* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #FF0000;
  --white-smoke: #F5F5F5;
  --white: #FFF;
  --yellow: #FFF000;


  /* === TYPES POKEMON COLOR ===*/
  --water: rgb(93, 93, 250);
  --grass: green;
  --fire: orange;
  --ground: brown;
  --electric: rgb(206, 206, 0);
  --normal: gray;
  --psychic: pink;
  --flying: purple;
  --ghost: gray;
  --bug: darkgreen;
  --poison: rgb(199, 20, 199);
}

body {
  background: var(--white-smoke);
  font-family: 'Roboto', sans-serif;
}

@media(max-width: 1024px){
  html {
    font-size: 95.75%;
  }
}

@media(max-width: 720px){
  html {
    font-size: 87.5%;
  }
}

a {
  text-decoration: none;
}

.error {
  margin-top: 1rem;
  color: #FF0000;
  text-align: center;
  font-weight: bold;
}

[disabled] {
  opacity: .5;
  cursor: not-allowed;
}
